body {
    margin: 0 auto;
    text-align: center;
    background-color: #f8f2eb;
    font-family: 'Open Sans', sans-serif;
}

#header-bcg {
    background-image: url("images/hormoz-island.jpg");
    background-size:100% 100%;
    height:300px;
    border:1px solid #f8f2eb;
    }
#header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:120px
}
#bg_watercolor {
    display: inline-block;
    background-image: url(images/bg_watercolor2.png);
    background-size: 100% 100%;
    }
.h1_parallax1 {
    font-family: Aladin,cursive;
    text-shadow: 2px 2px 0 rgba(0,0,0,.4);
    color: #fff;
    font-size: 40px;
    padding: 7px 20px;
    margin: 0;
}

.h2_parallax1 {
    font-family: Quicksand,sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: normal!important;
    font-weight: 400!important;
}
.h2_block {
    display: inline-block;
    margin-top: 6px;
    background-image: url(images/bg_watercolor3.png);
    background-size: 100% 100%;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    padding: 1px 20px 5px 25px;
}
.whitelink{
    text-decoration: underline;
    color: #fff!important;
    margin:auto;
    
}
.attractions{
    color:#005a78;
    padding-top:20px;
}

#thingstodo{
    width:1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
     border:2px solid #f8f2eb;  
    }
    
    #img{
        height:200px
    }
    #desc{
    text-align: justify;
    width:300px;
}
#avatar {
    width: 150px;
}

#contact{
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #c2baaa;
    color: #543E10;
}
#tour-itinerary{
    text-align: justify;
    margin-left:20px;
    
}
#tour-guid{
    text-align: left;
    margin-left: 20px;
}

    











